.register {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.reg_container {
  margin: 2rem 1rem 2rem 1rem !important;
  background-color: white;
  box-shadow: black 0px 5px 15px;
}
.reg_container h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 40px;
  font-family: "Playfair Display", serif;
}

.input {
  width: 300px !important;
  margin: 2px 0;
  border-width: 0px !important;
  background-color: white !important;
  font-size: 22px;
  border-bottom: 1px solid black !important;
  border-radius: 0% !important;
}
.reg_btn {
  width: 100%;
  padding: 5px;
  background: linear-gradient(to right, #434343, black);
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
}
.reg_btn:hover {
  background: linear-gradient(to right, #434343, #696969);
  transform: scale(1.02);
  transition: 1s;
}

@media screen and (max-width:600px){
  .register{
    height: 100%;
  }

  .input{
    width: 250px !important;
    font-size: 16px !important;
  }
}